@font-face {
  font-family: "iconfont"; /* Project id 2974381 */
  src: url('iconfont.woff2?t=1638693793662') format('woff2'),
       url('iconfont.woff?t=1638693793662') format('woff'),
       url('iconfont.ttf?t=1638693793662') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-status:before {
  content: "\ebba";
}

.icon-music:before {
  content: "\e79a";
}

.icon-progress:before {
  content: "\e603";
}

.icon-over:before {
  content: "\e606";
}

.icon-start:before {
  content: "\e68a";
}

.icon-frequency:before {
  content: "\e6f4";
}

.icon-play:before {
  content: "\e602";
}

.icon-yaling:before {
  content: "\e614";
}

.icon-pre:before {
  content: "\e615";
}

.icon-stop:before {
  content: "\e60f";
}

.icon-next:before {
  content: "\e64d";
}

.icon-dynamic-state:before {
  content: "\e605";
}

.icon-time:before {
  content: "\e600";
}

.icon-qialuli:before {
  content: "\e7b4";
}

.icon-badge:before {
  content: "\e65f";
}

.icon-left:before {
  content: "\e682";
}

.icon-right:before {
  content: "\e683";
}

.icon-data:before {
  content: "\eb66";
}

.icon-sudu:before {
  content: "\e619";
}

.icon-VIP:before {
  content: "\e601";
}

.icon-home:before {
  content: "\e6cb";
}

.icon-sport:before {
  content: "\e60a";
}

.icon-my:before {
  content: "\e8bb";
}

.icon-circle:before {
  content: "\e6fa";
}

