/*
 * 可复用的公有布局
 */

 .nav{
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 14px;
    a{
        color: gray;
        width: 25%;
        text-align: center;
    }
    i{
        font-size: 36px;
        display: block;
    }
    .active{
        color: #6ca3ec;
    }
}
