/*
 * 面向属性的 CSS
 */

/* 布局方式 */
.dpflex { display: flex; }
.fdc { flex-direction: column; }
.dpnone { display: none; }
.flex1 { flex: 1 }
.jcc { justify-content: center;}
.jcsb { justify-content: space-between; }
.aic { align-items: center; }


/* 盒模型 */
.mt8 { margin-top: 8px; }
.mt10{
    margin-top: 10px;
}
.mt16 { margin-top: 16px; }
.mt20 { margin-top: 20px; }
.mt40 { margin-top: 40px; }

.mr20 { margin-right: 20px; } 
.mr10 { margin-right: 10px; } 
.mr6 { margin-right: 6px; } 

.mb16 { margin-bottom: 16px; }
.mb10 { margin-bottom: 10px; }

.ml12 { margin-left: 12px; }
.ml6{
    margin-left: 6px;
}
.ml20 { margin-left: 20px; }

.pd16 { padding: 16px; }
.pl8 { padding-left: 8px; }
.pl10 { padding-left: 10px; }

/* 字号 */
.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }

.tac {
    text-align: center;
}

/* 背景颜色 */
.bkw{
    background-color: white;
}
.plr{
    padding: 0 5%;
}
.cb{
    color: #6ca3ec !important
}
.bdb1{
    border-bottom: 1px solid #ccc;
}
.bdr1{
    border-right: 1px solid #ccc;
}
.w90{
    width: 90%;
}
.ml5{
    margin-left: 5%;
}
.lh50{
    line-height: 50px;
}
.w50{
    width: 50%;
}
.pt60{
    padding-top: 60px;
}