body{
    letter-spacing: 1px;
}
 
.run-sum{
    .title{
        margin: 15px 0;
    }
    .run-num{
         color: #4394FF;
        font-size: 50px;
        font-weight: 600;
        vertical-align: -2px;
        margin-right: 6px;
    }
}